/************************
HELLO INTERNET MAIN CSS
************************/
/****************
GENRAL
****************/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  background: #474747;
}
/****************
HEADING
****************/
