/************************
HELLO INTERNET MAIN CSS
************************/
/****************
GENRAL
****************/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  background: #474747;
}
html{
  border: 5px dashed white;
}
/****************
HEADING
****************/
.bingo-table{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
.flex-column{
  display: flex;
  border: 2.5px solid #474747;
  background: white;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.flex-row{
  display: flex;
}
.home{
  font-size: 1em;
}
/****************
NAV
****************/

.mainNav a {
	text-align: center;
	display: block;
	padding: 0px 10px;
}
.mainNav li{
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
  color: #fff;
}
